{% extends "layout.html.twig" %}

{% block body %}
  {% if error %}
    <div class="alert alert-danger" role="alert">
      {{ error }}
    </div>
  {% endif %}
  <form method="post" action="{{ url_for('paypal')}}" enctype="multipart/form-data">
    <div class="mb-3">
      <label for="importPaypal" class="form-label">Import Paypal</label>
      <input type="file" class="form-control" id="importPaypal" name="importPaypal">
      <button type="submit" class="btn btn-primary">Envoyer</button>
    </div>
  </form>
  <form method="post" action="{{ url_for('sogecom')}}" enctype="multipart/form-data">
    <div class="mb-3">
      <label for="importSogecom" class="form-label">Import Sogecom</label>
      <input type="file" class="form-control" id="importSogecom" name="importSogecom">
      <button type="submit" class="btn btn-primary">Envoyer</button>
    </div>
  </form>
  <form method="post" action="{{ url_for('sg')}}" enctype="multipart/form-data">
    <div class="mb-3">
      <label for="importSG" class="form-label">Import SG</label>
      <input type="file" class="form-control" id="importSG" name="importSG">
      <button type="submit" class="btn btn-primary">Envoyer</button>
    </div>
  </form>
  <form method="post" action="{{ url_for('checkDelivery')}}" enctype="multipart/form-data">
    <div class="mb-3">
      <label for="importCheckDelivery" class="form-label">Import Remises de chèques</label>
      <input type="file" class="form-control" id="importCheckDelivery" name="importCheckDelivery">
      <button type="submit" class="btn btn-primary">Envoyer</button>
    </div>
  </form>
{% endblock %}